.header_option_container{
  display:none;
  padding:20px;
  background-color: white;
}
.close_header_option_container{
  float:right;
  height:30px;
  cursor:pointer;
}
.heading{
  font-size: 130%;
  font-weight:bold;
}
